body {
	font-family: 'Lato', sans-serif;
}

.color-white {color:#ffffff;}
h1{font-weight: 300; font-size: 24pt;}
h2{font-weight: 300; font-size: 16pt;}
h3{font-weight: 300; font-size: 14pt;}
h4{font-weight: 400; font-size: 12pt;}
p, li {font-weight: 300; font-size: 12pt;}


#section-hero{
	background: url('../images/section_hero.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	
	


	.leaves{
		position: relative;

		.leaf1{position: absolute;top: 0;}
		.leaf2{position: absolute;top: 300px; right: 0;}

	}

	.main-content {padding-top: 100px;}
	.phone {
		position: relative;
		height: 300px;	

			div{
				width: 100%;
				position: absolute;
				top: 35px;
				left: 0px;
			}
	}
}


#section-management{
	background: url('../images/section_management.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

	padding-top:200px;
	padding-bottom: 390px;
}

#section-managedash{
	position: relative;

	.huge-image-right {
		position: absolute;
		top: -20px;
		right: 0;
		width: 700px;
	}

}

#section-detail{
	background: url('../images/section_detail.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	width: 100%;

	padding-top: 50px;
	padding-bottom: 180px;
}

#section-watch{
	background: url('../images/section_watch.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

	margin-top:150px;
	padding-top:0px;
	padding-bottom: 0px;

	.watch {
		position: relative;

		div {
			position: absolute;
			top: -100px;
			left: 200px;
			width: 100%
		}
	}

	.watch-content{
		margin-top: 150px;
		margin-bottom: 30px;
	}


}

#pre-footer{
	background:#F5F7FD;
	margin-top: 60px;
	padding: 30px 0;


}

#post-footer{
	background:#14152D;
	padding: 20px 0;

	p, a {font-size:11pt; color: #D8D8D8;}
	a:hover{color:#ffffff;}
	

}

#footer{
	background: url('../images/section_footer.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

	padding: 50px 0 100px 0;

	
	h3, h4{color: #ffffff;}
	p, li, a {font-size:11pt; color: #D8D8D8;}
	a:hover{color:#ffffff;}
	

	.link-block{
		border-top:3px solid #ffffff;
		margin-top:10px;
		padding-top: 25px;

		ul {
			margin: 20px 0 0 0;
			padding: 0;
			list-style: none;

			li{
				padding: 2px 0;
			}
		}
	}
}




.modal{
	.modal-dialog {
		max-width: 1200px;
		margin: 50px auto;
	}

	.modal-body {
	position:relative;
	padding:0px;
	}
	.close {
	position:absolute;
	right:5px;
	top:-40px;
	z-index:999;
	font-size:2rem;
	font-weight: normal;
	color:#fff;
	opacity:1;
	}
}

