/* Compiled 2019-07-08 14:47:10 */

body {
  font-family: 'Lato', sans-serif; }

.color-white {
  color: #fff; }

h1 {
  font-weight: 300;
  font-size: 24pt; }

h2 {
  font-weight: 300;
  font-size: 16pt; }

h3 {
  font-weight: 300;
  font-size: 14pt; }

h4 {
  font-weight: 400;
  font-size: 12pt; }

p, li {
  font-weight: 300;
  font-size: 12pt; }

#section-hero {
  background: url('../images/section_hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  #section-hero .leaves {
    position: relative; }
    #section-hero .leaves .leaf1 {
      position: absolute;
      top: 0; }
    #section-hero .leaves .leaf2 {
      position: absolute;
      top: 300px;
      right: 0; }
  #section-hero .main-content {
    padding-top: 100px; }
  #section-hero .phone {
    position: relative;
    height: 300px; }
    #section-hero .phone div {
      width: 100%;
      position: absolute;
      top: 35px;
      left: 0px; }

#section-management {
  background: url('../images/section_management.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 390px; }

#section-managedash {
  position: relative; }
  #section-managedash .huge-image-right {
    position: absolute;
    top: -20px;
    right: 0;
    width: 700px; }

#section-detail {
  background: url('../images/section_detail.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 180px; }

#section-watch {
  background: url('../images/section_watch.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 150px;
  padding-top: 0px;
  padding-bottom: 0px; }
  #section-watch .watch {
    position: relative; }
    #section-watch .watch div {
      position: absolute;
      top: -100px;
      left: 200px;
      width: 100%; }
  #section-watch .watch-content {
    margin-top: 150px;
    margin-bottom: 30px; }

#pre-footer {
  background: #f5f7fd;
  margin-top: 60px;
  padding: 30px 0; }

#post-footer {
  background: #14152d;
  padding: 20px 0; }
  #post-footer p, #post-footer a {
    font-size: 11pt;
    color: #d8d8d8; }
  #post-footer a:hover {
    color: #fff; }

#footer {
  background: url('../images/section_footer.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 50px 0 100px 0; }
  #footer h3, #footer h4 {
    color: #fff; }
  #footer p, #footer li, #footer a {
    font-size: 11pt;
    color: #d8d8d8; }
  #footer a:hover {
    color: #fff; }
  #footer .link-block {
    border-top: 3px solid #fff;
    margin-top: 10px;
    padding-top: 25px; }
    #footer .link-block ul {
      margin: 20px 0 0 0;
      padding: 0;
      list-style: none; }
      #footer .link-block ul li {
        padding: 2px 0; }

.modal .modal-dialog {
  max-width: 1200px;
  margin: 50px auto; }
  .modal .modal-body {
    position: relative;
    padding: 0px; }
  .modal .close {
    position: absolute;
    right: 5px;
    top: -40px;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1; }
